
<form-wizard>
  <wizard-step [title]="explanationStep.title" [showNext]="explanationStep.finished">
    <h1>{{explanationStep.title}}</h1>
    <hr />
    {{explanationStep.content}}
  </wizard-step>

  <wizard-step title="Grote spraakoefening" *ngIf="mainStep" [showNext]="mainStep.finished">
    <step
      [title]="mainStep.title"
      [content]="mainStep.text"
      (isFinished)="mainStep.finished=$event"
      [content]="mainStep.text"
      (onFinish)="addRecording($event)" *ngIf="mainStep">
    </step>
  </wizard-step>

  <wizard-step title="Losse oefeningen" *ngIf="subSteps" [showNext]="subsFinished()">
    <step *ngFor="let question of subSteps"
      [title]="question.title" 
      [content]="question.text" 
      (isFinished)="question.finished=$event"
      [content]="question.text"
      (onFinish)="addRecording($event)">
    </step>
  </wizard-step>

  <wizard-step [title]="finalStep.title" (onComplete)="onComplete()">
    <h1>{{finalStep.title}}</h1>
    <hr />
    <div *ngIf="!isCompleted">
      <h3>{{finalStep.content}}</h3>
    </div>
    <div *ngIf="isCompleted">
      <h4>Bedankt! de opnames zijn verstuurd.</h4>
      <!-- <img src="assets/img/dement.gif"/> -->
    </div>
  </wizard-step>
</form-wizard>

