/* You can add global styles to this file, and also import other style files */
[hidden]{
    display: none !important;
}

body {
    background-color: white;
    color: black;

}

.card-footer {
    background-color: white;
}

.card-header {
    color: black;
}

ul {
    color: black !important;
}

button {
    background-color: rgb(51,51,51);
    color: white !important;

    font-size: 30px !important;
}

button:hover {
    background-color: rgb(35,35,35);
    color: #ffc600 !important;
}

audio {
    color: black;
    background-color: white;
}

.card {
    padding: 23px 30px;
}