/* You can add global styles to this file, and also import other style files */
[hidden]{
    display: none !important;
}

body {
    background-color: white;
    color: black;

}

.card-footer {
    background-color: white;
}

.card-header {
    background-color: #3385ff;
    color: black;
}

.active {
    border-bottom-color: white !important;
}

.enabled {
    border-bottom-color: lightgray !important;
}

ul {
    color: #3385ff !important;
}

button {
    background-color: #cccccc;
}

button:hover {
    background-color: #3385ff;
    color: lightgray;
}

audio {
    color: black;
    background-color: white;
}