
<form-wizard>
  <wizard-step [title]="first_step.title" [showNext]="first_step.finished">
    <h1>{{first_step.title}}</h1>
    <hr />
    {{first_step.message}}
  </wizard-step>

  <wizard-step [title]="second_step.title" [showNext]="second_step.finished">
    <step 
      [title]="second_step.title" 
      [content]="second_step.content" 
      (isFinished)="second_step.finished=$event" 
      [content]="second_step.content" 
      (onFinish)="addRecording($event)">
    </step>
  </wizard-step>

   <wizard-step [title]="third_step.title" [showNext]="third_step.finished && fourth_step.finished">
    <step 
      [title]="third_step.title" 
      [content]="third_step.content" 
      (isFinished)="third_step.finished=$event" 
      [content]="third_step.content" 
      (onFinish)="addRecording($event)">
    </step>
    <step 
      [title]="fourth_step.title" 
      [content]="fourth_step.content" 
      [active]="true" 
      (isFinished)="fourth_step.finished=$event" 
      [content]="fourth_step.content" 
      (onFinish)="addRecording($event)">
    </step>
  </wizard-step>

  <wizard-step [title]="final_step.title" (onComplete)="onComplete()">
    <h1>{{final_step.title}}</h1>
    <hr />
    <div *ngIf="!isCompleted">
      <h4>Almost done.</h4>
    </div>
    <div *ngIf="isCompleted">
      <h4>Thank you! You have completed all the steps.</h4>
    </div>
  </wizard-step>
</form-wizard>

