* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

svg {
        width: 40px;
        height: 40px;
}

.audioCtrls {
        margin-top: 2%;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 20%;
  width: 20%;
  overflow: hidden;
}

.button {
  will-change: transform;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #5fb5fe;
  border-radius: 50%;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.button-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #1a1a1a;
}
.button-svg {
  width: 40px;
  height: 40px;
  fill: white;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.button:hover svg {
  fill: rgba(0, 0, 0, 0.2);
}

.active-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.active-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.active-wrapper.active .dots-col {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.stop-button svg {
  fill: tomato;
}
.stop-button:hover {
  border-radius: 99999px;
  background: rgba(0, 0, 0, 0.45);
}

.loader {
  position: relative;
  margin: 0px auto;
  margin-left: 30%;     
  margin-top: -7%;
}
.circular{animation:rotate 2s linear forwards ;width:100px;height:100px;position:relative}
.path{stroke:#007aff; stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: 
   dash 1.5s ease-in-out forwards,
   color 6s ease-in-out infinite
  ;
  stroke-linecap: round;}
  @keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }

 100%{
  stroke-dasharray: 150,200;
  stroke-dashoffset: 10;
 }

}
@keyframes color{
  100%, 0%{
    stroke: white;
  }
  40%{
    stroke: #007aff;
  }
  66%{
    stroke: yellow;
  }
  80%, 90%{
    stroke: red;
  }
}
@keyframes rotate{
	100%{transform:rotate(360deg)}
	}
	
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
	
	 animation: stroke 0.5s  cubic-bezier(0.65, 0, 0.45, 1) 1.5s forwards, color 6s linear infinite;}
	@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
.suc{stroke:#007aff;
	stroke-width:2;
	position:absolute;top:30px;left:30px;
	width:40px;height:40px;}