.home-container{
    width: 60%;
    margin-left: 20%; 
    margin-right: 20%;
    margin-top: 15%;
    text-align: center;
}

button {
    width: 60%;
    height: 120px;
    color: white;
    font-size: 25px;
}

button:hover {
    background-color: black;
}

