<section class="menu" >
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo"><a routerLink="/"><h2 class="brandname">Stemalanyse</h2></a></div>
                <div [class]="menuOpen ? 'header-nav open' : 'header-nav closed'">
                    <nav>
                        <ul class="primary-nav">
                            <li *ngIf="auth.loggedIn"><a (click)="toggleMenu()" routerLink="/">{{auth.currentUser.name}}</a></li>
                            <li *ngIf="auth.loggedIn"><a (click)="toggleMenu()" routerLink="/analyse">Doe de stemanalyse</a></li>
                            <li *ngIf="auth.loggedIn"><a (click)="logout()">Logout</a></li>
                            <li *ngIf="!auth.loggedIn"><a (click)="toggleMenu()" routerLink="/login" class="logged-link">Login</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon" (click)="toggleMenu()">
                    <a [class]="menuOpen ? 'nav-toggle active' : 'nav-toggle closed'"><span></span></a>
                </div>
            </div>
        </header>
        </section>
</section>
<br/>
