/*Remove 300ms delay on tap*/
html {
  touch-action: manipulation;
}


.navigation {
    width: 100%;
    background-color: rgb(38,28,37);
}

.logo a:hover, .logo a:focus, .logo a:visited {
  text-decoration: none;
  color: white;
}

.align-center {
  text-align: center;
}

.align-center *{
  text-transform: none;
}

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }


.menu-content h1{
   border: 1px solid;
  }
.url.menu-content h1 {
  border: none;
}
 

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 0px 35px 16px 0;
  cursor: pointer; }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }

/* ==========================================================================
Menu
========================================================================== */
.menu {
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  position: relative; }
  .brandname{
    margin:0 !important;
    padding:0 !important;
    text-transform: none;
  }
  .menu .down-arrow a {
    color: #fff; }
  .menu h1 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 2em;
    padding: 15px; }

  .url.menu h1{
    padding: 0;
  }
  .menu p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px; }
  .url.menu p.intro {
    margin-bottom: 0;
  }
  .menu .menu-content {
    padding-top: 32%; }

.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  width: 100%;
  z-index: 999; }

.fixed {
  position: fixed;
  background-color: #a13b4a;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid white; }

header {
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px; }
    header a.login {
      margin-right: 20px; }
  header .logo {
    display: inline-block; }
  header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0; }
    header ul.primary-nav li {
      display: inline; }
      header ul.primary-nav li a {
        color: #fff;
        padding-right: 25px; }
        header ul.primary-nav li a:hover {
          color: #FF5274; }
      header ul.primary-nav li:last-child a {
        padding-right: 0px; }
  header ul.member-actions li {
    display: inline; }
    header ul.member-actions li a {
      color: #fff; }
      header ul.member-actions li a:hover {
        color: #FF5274; }
  header .header-nav {
    display: inline-block; }
  header .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }
  .logged-link{
    border: 1px solid white;
    border-radius: 40px;
    width: 60%;
    padding: 10px 20px !important;
  }

